* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat';
	color: white;
}
header {
	display: flex;
	align-items: center;
	width: 75%;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 40px;
}
.nav a {
	text-decoration: none;
	color: rgb(173, 173, 173);
	font-size: 20px;
	transition: color 300ms ease-in-out;
}
.nav a:hover {
	color: white;
}
.nav {
	column-gap: 40px;
	display: flex;
	width: fit-content;
}
.example-link {
	width: 20%;
	text-align: end;
}
.logo {
	width: 20%;
}

.example-link a {
	text-decoration: none;
	color: rgb(173, 173, 173);
	font-size: 20px;
	transition: color 300ms ease-in-out, border 300ms ease-in-out;
	border: 2px solid rgba(253, 2, 136, 0.5);
	padding: 10px 10px;
	border-radius: 15px;
}
.example-link a:hover {
	color: white;
	border: 2px solid rgba(253, 2, 136, 1);
}

.homepage {
	width: 100%;
}

.title {
	font-size: 64px;
	font-weight: 500;
}
main {
	width: 65%;
	height: fit-content;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.first,
.second {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: fit-content;
	margin: auto;
}
.convert-window {
	height: 500px;
	display: flex;
	justify-content: space-around;
}
.full {
	height: 650px;
	background: transparent;
	border: 2px solid rgba(253, 2, 136, 1);
	border-radius: 15px;
}
.convert--input {
	width: 500px;
	padding: 20px 15px;
	border: none;
	outline: none;
	border-radius: 15px;
	font-size: 124px;
	font-family: 'montserrat';
	font-weight: 300;
	background: transparent;
	color: black;
}
.convert--select {
	padding: 20px;
	border-radius: 15px;
	width: 500px;
	font-size: 32px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.convert--select option {
	background-color: black;
	color: white;
	border-radius: 15px;
}
.convert--select option:checked {
	background-color: rgba(253, 2, 136, 1);
	color: #fff;
}
.btnDiv {
	height: 100px;
	width: fit-content;
	margin: 0 auto;
}
.btnDiv button {
	font-size: 42px;
	transition: border 300ms ease-in-out;
	border: 2px solid rgba(253, 2, 136, 0.5);
	padding: 15px 25px;
	border-radius: 15px;
	cursor: pointer;
}
